html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding-right: 15%;
  padding-left: 15%;
}
h1,
h2 {
  margin: 0.8em 0 0.2em 0;
}
p {
  font-size: 18px;
  margin: 0.2em 0 0.2em 0;
}

#dropzone {
  width: 96%;
  margin: 0.5em 1em 0.5em 1em;
  border: dashed #255 4px;
  padding: 2em;
  text-align: center;
  font-size: 20px;
}
#inputfile {
  margin-left: 75%;
}

/*
#save-file {
  visibility: hidden;
}

*/

#result {
  height: 8em;
  margin-top: 1.5em;
}
footer {
  padding-bottom: 2px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  background: #fff;
}
